body{
	margin: 0;
	background-color: #0099cc;
	background: repeating-linear-gradient(
  45deg,
  #0099cc,
  #0099cc 10px,
  #2884C0 10px,
  #2884C0 20px
)


}

img{
	cursor: pointer;
}
 .border{
 	margin: 25px 200px 200px 200px;
 	width: 900px;
 	border: 40px solid white;
 	padding: 25px;

 }


