body{
	background-image: linear-gradient(#000080, white);
}
.top{
	width: 1439px;
	height:711px;
	margin: 0;
}
h1{
	position: relative;
	left: 650px;
	top:700px;
	color: white;
	font-size: 50px;
}
.fruits{
	padding: 30px;
	width: 1439px;
	margin: 0;
}
